
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Scroller | Just another WordPress site</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="pingback" href="http://capethemes.com/demo/scroller1/xmlrpc.php" />

    <!-- Themnific Mobile & Special CSS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700%7cMontserrat:700%7cMontserrat:700%7cOpen+Sans:700%7cRaleway:600%7cRaleway:400%7cOpen+Sans:700" rel="stylesheet prefetch" type="text/css">

    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Feed" href="http://capethemes.com/demo/scroller1/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Comments Feed" href="http://capethemes.com/demo/scroller1/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Scroller &raquo; Home Comments Feed" href="http://capethemes.com/demo/scroller1/home/feed/" />
    <link rel='stylesheet' id='style-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/prettyPhoto.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='style-custom-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style-custom.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='social-media-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/social-media.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome.min-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/font-awesome.min.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-ie7-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/styles/font-awesome-ie7.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mobile-css'  href='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/style-mobile.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='tp_twitter_plugin_css-css'  href='http://capethemes.com/demo/scroller1/wp-content/plugins/recent-tweets-widget/tp_twitter_plugin.css?ver=1.0' type='text/css' media='screen' />
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.4'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/functions/js/shortcodes.js?ver=1'></script>
    <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/css3-mediaqueries.js?ver=3.9.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://capethemes.com/demo/scroller1/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://capethemes.com/demo/scroller1/wp-includes/wlwmanifest.xml" /> 
    <link rel='next' title='Blog' href='http://capethemes.com/demo/scroller1/blog-2/' />
    <meta name="generator" content="WordPress 3.9.1" />
    <link rel='canonical' href='http://capethemes.com/demo/scroller1/' />
    <link rel='shortlink' href='http://capethemes.com/demo/scroller1/' />
    <style type="text/css"> .ssba {




    }
    .ssba img   
    {   
     width: 35px !important;
     padding: 6px;
     border:  0;
     box-shadow: none !important;
     display: inline !important;
     vertical-align: middle;
 }
 .ssba, .ssba a   
 {
     text-decoration:none;
     background: none;

     font-size:   20px;


 }</style><link rel="shortcut icon" href="http://capethemes.com/demo/scroller1/wp-content/uploads/2014/03/themnific-ico-desat.png"/>
 <!-- Themnific Shortcodes CSS -->
 <link href="http://capethemes.com/demo/scroller1/wp-content/themes/scroller/functions/css/shortcodes.css" rel="stylesheet" type="text/css" />

 <!-- Themnific Styling -->
 <style type="text/css">
 body,.section,.item_full,.item_carousel,.item_slider,.pricing ul{background-color:#fff}
 .scroll li a,.navi li a{border-color:#fff !important}

 .body2,#header,.scroll ul.sub-menu,.navi ul.sub-menu,.navi li ul.children
 {background-color:#171717}
 .scroll li a,.navi li a{border-color:#171717 !important}

 .body3,.nav li ul,li.normal h2,ul.medpost li.format-quote
 {background-color:#f9f9f9}
 #serinfo-nav li.current,.wpcf7-submit,a#navtrigger,.stuff span.slidebg,.flex-direction-nav li a,span.ribbon,.block-wrap a.blogmore,#folio-wrap a.blogmore,.imgwrap,a.hoverstuff-link,a.hoverstuff-zoom,li.main h2,.page-numbers.current,a.mainbutton,#submit,#comments .navigation a,.contact-form .submit,.plan-bottom a,a.comment-reply-link,.imageformat{background-color:#FFDD00}
 .section>.container>h3,#servicesbox li,.nav li ul{border-color:#FFDD00 !important}
 #navigation a:hover,.scroll>li.current>a,ul.sub-menu>li.current>a,ul.children>li.current>a,#servicesbox li:hover h3 i,#portfolio-filter li.current-cat a,.section>.container>h2:after{color:#FFDD00 !important}
 .body1 a, a:link, a:visited,.nav>li>ul>li>a {color:#333}
 .entry a,a:hover,.body1 a:hover,#serinfo a:hover,#main-nav>li.current-cat a,#main-nav>li.current_page_item a,
 #portfolio-filter a.current,li.current-cat a,#portfolio-filter li.active a,
 .tagline a,a.slant {color:#FFDD00}
 #main-nav>li:hover,#main-nav>li.current-cat,#main-nav>li.current_page_item {border-color:#FFDD00 !important}
 #clients li,#header,#portfolio-filter,.searchform input.s,.fullbox,.pagination,input, textarea,input checkbox,input radio,select, file{border-color:#e3e3e3 !important}
 body,input, textarea,input checkbox,input radio,select, file {font:400 14px/1.8em Arial;color:#757575}
 .body2 h2,.body2 h3 {color:}
 h1 {font:700 70px/1.1em Montserrat;color:#000000}h2 {font:700 55px/1.2em Montserrat;color:#000000}p.special {font-family:Montserrat}h3,a.tmnf-sc-button.xl,.flexhead p {font:700 14px/1.5em Open Sans;color:#4a4a4a}h4 {font:600 18px/1.5em Raleway;color:#000000}h5 {font:400 14px/1.5em Raleway;color:#4a4a4a}h6 {font:400 14px/1.5em Raleway;color:#4a4a4a}
 .scroll li a,.navi li a {font:700 12px/1em Open Sans;color:#ffffff}.section h2,.section_template h2 {font:700 80px/1.2em Montserrat;color:#000000}.tab-post small a,.taggs a,.ei-slider-thumbs li a {color:#757575}
 </style>

</head>


<body class="home page page-id-2126 page-template page-template-homepage_alt2-php upper">



    <div id="header" class="boxshadow gradient">

       <div class="container" style="overflow:visible;"> 

        <a id="logo_res" href="http://capethemes.com/demo/scroller1/">

            <img src="http://capethemes.com/demo/scroller1/wp-content/uploads/2014/02/scroller-logo-alt2.png" alt="Scroller"/>

        </a>

        <a id="navtrigger" href="#">MENU</a>



        <nav id="navigation" class="bigmenu">

         <h1 class="classic">


            <a class="logo" href="http://capethemes.com/demo/scroller1/">

                YOUR LOGO

            </a>



        </h1>

        <ul id="nav" class="scroll"><li id="menu-item-2857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2857"><a href="#home">Home</a></li>
            <li id="menu-item-2848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2853"><a href="#about">About Metralite</a></li>
                <li id="menu-item-2852" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2852"><a href="#leadership">Leadership</a></li>
                <li id="menu-item-2852" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2852"><a href="#services">Services</a></li>
                <li id="menu-item-2849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2849"><a href="#team">Projects</a></li>
                <li id="menu-item-2859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2859"><a href="#clients">Clients</a></li>
                <li id="menu-item-2848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2848"><a href="#contact">Contact</a></li>
        </ul>

    </nav>




    <div style="clear: both;"></div>

</div>

</div>

<div style="clear: both;"></div>        

<div id="home" class="mainflex_holder">

 <div class="mainflex_wrap">

  <div class="mainflex flexslider">

    <ul class="slides">



        <li class="free_slider">


         <div class="slider_full">

              <img width="2400" height="1523" src=<%=asset_path "construction_background.png"%> class="attachment-full wp-post-image" alt="construction" />                               


          </div>

          <div class="free_content">

           <div class="container">

              <div class="sixcol-one"> </div> <div class="sixcol-four">
              <h2 style="text-align: center;"><span style="color: #ffffff;">METRALITE INDUSTRIES, INC.<br />
              </span></h2>
              <p style="text-align: center;"><div class="tmnf-sc-hr"></div>
                <h3 style="text-align: center;"><span style="color: #ffffff;">Architectural Metals Fabricator &amp; Erectors</span></h3>
                <p>&nbsp;</p>
                <p style="text-align: center;"><i class="icon-double-angle-down"></i></p>
            </div> <div class="sixcol-one last"></div>

        </div>

    </div>



    <div style="clear: both;"></div>
</li>                      


<li class="free_slider">


   <div class="slider_full">

      <img width="1920" height="1280" src=<%=asset_path "columbia_project.png"%> class="attachment-full wp-post-image" alt="Columbia project" />                                


  </div>

  <div class="free_content">

   <div class="container">

      <p>&nbsp;<br />
        &nbsp;</p>
        <h2 style="text-align: left;"></h2>
        <h2 style="text-align: left;"></h2>
        <h2 style="text-align: left;"><span style="color: #ffffff;">At the forefront of American construction innovation</span></h2>

    </div>

</div>



<div style="clear: both;"></div>
</li>                      


<li class="free_slider">


   <div class="slider_full">

      <img width="1920" height="1266" src=<%=asset_path "nyc_construction.png"%> class="attachment-full wp-post-image" alt="2014-Cadillac-CTS-Section-3-1920x1440-edit" />                                


  </div>

  <div class="free_content">

   <div class="container">

      <div class="sixcol-one"> </div> <div class="sixcol-four">
      <h1 style="text-align: center;"><span style="color: #ffffff;">Quality Construction</span></h1>
      <p>&nbsp;</p>
      <hr />
      <p>&nbsp;</p>
      <h2 style="text-align: center;"><span style="color: #ffffff;">Since 1964</span></h2>

  </div>

</div>



<div style="clear: both;"></div>
</li>                      

</ul>

</div>


</div>

</div>

<div id="main">





    <div id="about" name="about" class="section resmode-Yes"
 style="   background-color:#D9D9D9; ">




 <div class="container">



    <h2 class="head" style="color:;">About Metralite</h2>
    <p class="section_text" style="color:;">For the past half-century, Metralite Industries Incorporated has been at the forefront of American construction innovation. Along with the Brett Glass Company subsidiary, Metralite Industries is recognized as one of the highest quality architectural metal fabrication and glazing firms in the New York area. The 25,000 square-foot Metralite facility is located in Flushing, Queens, where detailed manufacturing does not cease until clients are met with the ingenuity and resources New York deserves. Behind every great city is a team of committed developers. Metralite and Brett Glass aim to develop a greater New York and improve the lives of our people, clients, and communities. Metralite’s industrial leadership promotes advances in nearly every economic sector, with a particular emphasis on sustainability, technology, financial services, education, healthcare, and community development.</p>
    
    <div class="hrlineB"></div>  






    


                </div>


                <div id="latest" name="latest" class="section resmode-Yes"
                style="  background-image:url(http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/black_vert1.png);  ">



<div id="layoutpost-2563" name="" class="section resmode-No"
                           style="  background-image:url(http://i62.tinypic.com/2h6u9mw.jpg); background-color:#919191; ">




                           <div class="container">



                               <h2 style="text-align: center;"><span style="color: #ffffff;">Quality Construction <span style="color: #000;">Since 1964</span></span></h2>


                               <div style="clear: both;"></div>

                           </div>


                       </div>


                       <div id="leadership" name="leadership" class="section resmode-Yes"
                       style="    ">




                       <div class="container">



                        <h2 class="head" style="color:;">Meet Our Leadership</h2>
                        <p class="section_text" style="color:;">Our people are our greatest asset. We proudly cultivate and sustain a talented, experienced, and diverse team. Experience has taught us to continue learning and continue improving, which is critical to adapting to the needs of our clients and communities.</p>
                        <div class="hrlineB"></div>  



                        <div id="staff-wrap">
                           <ul class="warpbox">


                            <li class="staff threecol">

                              <img width="212" height="245" src="http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/staff02-212x245.png" class="attachment-staff wp-post-image" alt="staff02" />                
                              <h3>Jeff Silverstein</h3>   

                              <p class="meta">President & CEO</p>

                              <p>Duis aliquet, urna eu condimentum placerat, neque massa consectetur elit, non tempus leo elit nec nisi. Donec quis vehicula felis. Mauris ac.

                              
</p>

                              <ul class="staff_social">

                                  <li><a class="rad mk-social-twitter-alt" href="#"></a></li>                   <li><a class="rad mk-social-googleplus" href="#"></a></li>                  <li><a class="rad mk-social-linkedin" href="#"></a></li>                                        <li><a class="rad mk-social-wp" href="#"></a></li>                
                              </ul>

                          </li>


                          <li class="staff threecol">

                              <img width="212" height="245" src="http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/staff02-212x245.png" class="attachment-staff wp-post-image" alt="staff01" />                
                              <h3>Abraham Medina</h3>   

                              <p class="meta">Field Manager</p>

                              <p>Duis aliquet, urna eu condimentum placerat, neque massa consectetur elit, non tempus leo elit nec nisi. Donec quis vehicula felis. Mauris ac.</p>

                              <ul class="staff_social">

                               <li><a class="rad mk-social-facebook" href="#"></a></li>                 <li><a class="rad mk-social-twitter-alt" href="#"></a></li>                 <li><a class="rad mk-social-googleplus" href="#"></a></li>                  <li><a class="rad mk-social-linkedin" href="#"></a></li>                    <li><a class="rad mk-social-pinterest" href="#"></a></li>                                   
                           </ul>

                       </li>


                       <li class="staff threecol">

                          <img width="212" height="245" src="http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/staff02-212x245.png" class="attachment-staff wp-post-image" alt="staff03" />                
                          <h3>Bob Savicevic</h3>   

                          <p class="meta">Facility Manager</p>

                          <p>Aenean mauris ante, consequat id rhoncus sit amet, ultricies ac enim. Praesent consectetur libero eu nisl sodales accumsan. Cras non eros urna. Donec fringilla.</p>

                          <ul class="staff_social">

                              <li><a class="rad mk-social-twitter-alt" href="#"></a></li>                   <li><a class="rad mk-social-googleplus" href="#"></a></li>                  <li><a class="rad mk-social-linkedin" href="#"></a></li>                                                        
                          </ul>

                      </li>


                      <li class="staff threecol">

                          <img width="212" height="245" src="http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/staff02-212x245.png" class="attachment-staff wp-post-image" alt="staff05" />                
                          <h3>Goran Stojanovic</h3>   

                          <p class="meta">Operations Manager </p>

                          <p>Phasellus tempus scelerisque bibendum. Duis aliquet, urna eu condimentum placerat, neque massa consectetur elit, non tempus leo elit nec nisi donec.</p>

                          <ul class="staff_social">

                           <li><a class="rad mk-social-facebook" href="#"></a></li>                 <li><a class="rad mk-social-twitter-alt" href="#"></a></li>                 <li><a class="rad mk-social-googleplus" href="#"></a></li>                                      <li><a class="rad mk-social-pinterest" href="#"></a></li>                                   
                       </ul>

                   </li>


                    

                   
                   


               </ul>
           </div> 
           <div style="clear: both;"></div> 


           <div style="clear: both;"></div>

       </div>


   </div>   



                                    <div id="services" name="services" class="section resmode-Yes"
                                    style="   background-color:#DDDDDD; ">




                                    <div class="container">



                                        <h2 class="head" style="color:;">Services</h2>
                                        <p class="section_text" style="color:;">Our architectural metal and glass services are customized to meet our clients’ individualized needs. From initial design to final installation, we work with our partners to ensure our precision engineering is perfect.</p>
                                        <div class="hrlineB"></div>  



                                        <div id="services-wrap">
                                           <ul id="servicesbox">


                                            <li class="services body3 boxshadow2 rad_big">



                                               <h3><i class="icon-cog"></i> Consulting</h3>



                                               <p>Metralite consults for architects and corporate clients who wish to maximize design, engineer efficiency, and drive growth through value engineering. Throughout every project, we work closely with architects and general contractors.</p>

                                           </li>


                                           <li class="services body3 boxshadow2 rad_big">



                                               <h3><i class="icon-cog"></i> Glass & Mirrors</h3>



                                               <p>Metralite is committed to delivering the highest caliber glazing in the industry. We install, replace, and remove nearly any type of glass and mirror. Most of our glasswork involves tempering, laminating, and coating.  </p>

                                           </li>


                                           <li class="services body3 boxshadow2 rad_big">



                                               <h3><i class="icon-cog"></i> Installation</h3>



                                               <p>Metralite provides installation of our material to ensure each project is completed in a timely manner. Our ironworkers, carpenters, and glaziers manage each project to deliver a seamless installation. </p>

                                           </li>


                                           


                                       </ul>
                                   </div> 
                                   <div style="clear: both;"></div> 


                                   <div style="clear: both;"></div>

                               </div>


                           </div>


                           <div id="layoutpost-2563" name="" class="section resmode-No"
                           style="  background-image:url(http://capethemes.com/demo/scroller1/wp-content/uploads/2013/03/parallax01b.jpg); background-color:#919191; ">




                           <div class="container">



                               <h2 style="text-align: center;"><span style="color: #ffffff;">The Forefront of <span style="color: #000;">American Construction Innovation</span></span></h2>


                               <div style="clear: both;"></div>

                           </div>


                       </div>


                       <div id="team" name="team" class="section resmode-Yes"
                       style="    ">




                       <div class="container">



                        <h1>PROJECTS</h1>
                        <h2>To Be Completed Soon...</h2>


   </div>


   <div id="" name="" class="section resmode-Yes"
   style="  background-image:url(http://capethemes.com/demo/scroller1/wp-content/uploads/2013/05/oak-ridge-104060_1920.jpg); background-color:#1c1c1c; ">




   <div class="container">
<h2 style="text-align: center;"><span style="color: #ffffff;">Advances in nearly <span style="color: #000;">every economic sector</span></span></h2>


       <p>&nbsp;</p>
       
    <div style="clear: both;"></div>  
    <p>&nbsp;</p>


    <div style="clear: both;"></div>

</div>


</div>


<div id="clients" name="clients" class="section resmode-Yes"
style="   background-color:#e0e0e0; ">




<div class="container">

<h1>CLIENTS...</h1>
<h2>To be completed soon...</h2>

    </div>
  </div>




                        <div id="contact" name="contact" class="section resmode-Yes"
                        style="   background-color:#FFDE00; ">




                        <div class="container">



                           <div class="twocol-one">
                            <div class="wpcf7" id="wpcf7-f2877-o1"><form action="/demo/scroller1/#wpcf7-f2877-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="2877" />
                                    <input type="hidden" name="_wpcf7_version" value="3.7.2" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2877-o1" />
                                    <input type="hidden" name="_wpnonce" value="0e9e5af1a3" />
                                </div>
                                <p>Your Name (required)<br />
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                                    <p>Your Email (required)<br />
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                                        <p>Subject<br />
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                                            <p>Your Message<br />
                                                <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                                                <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                                            </div>
                                            <div class="twocol-one last">
                                                <h2>Contact Us</h2>
                                                
                                                    <ul class="social-menu">



















                                                    </ul>
                                                    <h3><i class="icon-home"></i> <span style="color: #000000;">132-70 34th Avenue, Flushing, NY 11354</span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-envelope-alt"></i> metralite@twcmetrobiz.com </span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-phone-sign"></i> Phone: (718) 961-1770</span></h3>
                                                    <h3><span style="color: #000000;"><i class="icon-phone-sign"></i> Fax: (718) 359-6541</span></h3>
                                                </div>


                                                <div style="clear: both;"></div>

                                            </div>


                                        </div>


                                    </div><!-- [END] #main -->

                                    

                                </div>

                            </div><!-- /#footer  -->

                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/tabs.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.50.0-2014.02.05'></script>
                            <script type='text/javascript'>
                            /* <![CDATA[ */
                            var _wpcf7 = {"loaderUrl":"http:\/\/capethemes.com\/demo\/scroller1\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
                            /* ]]> */
                            </script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.7.2'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.hoverIntent.minified.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.prettyPhoto.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.scrollTo.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.nav.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.parallax-1.1.3.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/superfish.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/ownScript.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider-min.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider.start.main.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-includes/js/comment-reply.min.js?ver=3.9.1'></script>
                            <script type='text/javascript' src='http://capethemes.com/demo/scroller1/wp-content/themes/scroller/js/jquery.flexslider.start.featured.js?ver=3.9.1'></script>

                        </body>
                        </html>